@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Mono|Roboto+Slab&display=swap');
</style>

.heading h1 {
	font-size: 50px;
	font-weight: normal;
	font-style: italic;
	font-family: 'Roboto Slab', serif;
}
.paragraph p {
	font-size: 30px;
	font-family: 'Roboto Mono', monospace;
}
.paragraphTwo p {
	font-size: 30px;
	font-family: 'Open Sans Condensed', sans-serif;

}